/Mapa$Andar.class
/Mapa.class
/Batalha.class
/Controller.class
/Event.class
/EventSet.class
/Habilidade.class
/Item.class
/Pokemon.class
/Potion.class
/Treinador.class
/Batalha$Ataque.class
/Batalha$Curar.class
/Batalha$Fuga.class
/Batalha$Troca.class
/Batalha$Anda.class
/Mapa$Anda.class
/Main.class
/Pokebola.class
/Batalha$Captura.class
